debian/files
debian/commotion-linux-py.debhelper.log
debian/commotion-linux-py.substvars
debian/commotion-linux-py.postinst.debhelper
debian/commotion-linux-py.prerm.debhelper
debian/commotion-linux-py/
# python build products
*.pyc
__pycache__
# example code
examples/
# PyQt auto-created asset tracking file.
commotion_client/assets/assets.py
